


/* active link*/
.navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:focus,
  .navbar-inverse .navbar-nav>.active>a:hover,.dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus,.carousel-indicators .active,.option-box .gear-check {

background-color:#117952 ;


  }
  .navbar-default .navbar-brand span,.about span,.testimonials span,  .footer h3,.footer .copyright span{
    color:#117952 ;
  
     }
     .dropdown-menu {

       
        border-top: 3px solid #117952;
     }

   .option-box  .color-option,.testimonials .carousel-indicators li.active{
       
        
        border:3px solid #117952 ;
      
        
         }
        

          
 